.box {
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: purple;
    position: relative;
}

.box::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
   background-color: red;

}
