body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0; 
    padding: 20px; 
    background-color: #f4f4f9; 
}

h1, h2, h3, h4, h5, h6 {
    color: #10d835;
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    color: #555;
    margin-bottom: 10px;
}

b {
    font-weight: bold;
}

i {
    font-style: italic;
}

ol li, ul li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #007BFF;
    transition: color 0.3s ease; 
}

a:hover {
    text-decoration: underline;
    color: #0056b3; 
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px; 
}

.red-text {
    color: red;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #333;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.card {
    background-color:cadetblue;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 600px; 
}
